@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?716b453ba3f4bb658ea487cbdbc02083?#iefix") format("embedded-opentype"),
url("iconfont.woff2?716b453ba3f4bb658ea487cbdbc02083") format("woff2"),
url("iconfont.woff?716b453ba3f4bb658ea487cbdbc02083") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-gear:before {
	content: "\f101";
}
