@font-face {
	font-family: "iconfont";
	src: url("/css/icons/iconfont.eot?d1023ddc41607eb7928af40a560bc3a8?#iefix") format("embedded-opentype"),
url("/css/icons/iconfont.woff2?d1023ddc41607eb7928af40a560bc3a8") format("woff2"),
url("/css/icons/iconfont.woff?d1023ddc41607eb7928af40a560bc3a8") format("woff"),
url("/css/icons/iconfont.ttf?d1023ddc41607eb7928af40a560bc3a8") format("truetype");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-gear:before {
	content: "\f101";
}
.icon-logout:before {
	content: "\f102";
}
.icon-login:before {
	content: "\f103";
}
.icon-log:before {
	content: "\f104";
}
.icon-users:before {
	content: "\f105";
}
.icon-user:before {
	content: "\f106";
}
