@font-face {
	font-family: "iconfont";
	src: url("/css/icons/iconfont.eot?9b0895eeebbb4a5e09e0417f4c2a4ed4?#iefix") format("embedded-opentype"),
url("/css/icons/iconfont.woff2?9b0895eeebbb4a5e09e0417f4c2a4ed4") format("woff2"),
url("/css/icons/iconfont.woff?9b0895eeebbb4a5e09e0417f4c2a4ed4") format("woff"),
url("/css/icons/iconfont.ttf?9b0895eeebbb4a5e09e0417f4c2a4ed4") format("truetype");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add:before {
	content: "\f101";
}
.icon-gear:before {
	content: "\f102";
}
.icon-logout:before {
	content: "\f103";
}
.icon-login:before {
	content: "\f104";
}
.icon-log:before {
	content: "\f105";
}
.icon-users:before {
	content: "\f106";
}
.icon-user:before {
	content: "\f107";
}
