@font-face {
	font-family: "iconfont";
	src: url("/css/icons/iconfont.eot?743730719dd0dbfe369be85e4fbfc598?#iefix") format("embedded-opentype"),
url("/css/icons/iconfont.woff2?743730719dd0dbfe369be85e4fbfc598") format("woff2"),
url("/css/icons/iconfont.woff?743730719dd0dbfe369be85e4fbfc598") format("woff"),
url("/css/icons/iconfont.ttf?743730719dd0dbfe369be85e4fbfc598") format("truetype");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add:before {
	content: "\f101";
}
.icon-delete:before {
	content: "\f102";
}
.icon-eye:before {
	content: "\f103";
}
.icon-fingerprint:before {
	content: "\f104";
}
.icon-gear:before {
	content: "\f105";
}
.icon-logout:before {
	content: "\f106";
}
.icon-login:before {
	content: "\f107";
}
.icon-log:before {
	content: "\f108";
}
.icon-radar:before {
	content: "\f109";
}
.icon-users:before {
	content: "\f10a";
}
.icon-user:before {
	content: "\f10b";
}
