vagrant/virtualbox/.vagrant
vagrant/virtio/.vagrant
src/.vs
src/Wbtb.Core/bin
src/Wbtb.Core/obj
src/Wbtb.Core.Common/bin
src/Wbtb.Core.Common/obj
src/Wbtb.Core.Tests/bin
src/Wbtb.Core.Tests/obj
src/Wbtb.Core.Web/bin
src/Wbtb.Core.Web/obj
src/Wbtb.Extensions.Data.Postgres/bin
src/Wbtb.Extensions.Data.Postgres/obj
src/Wbtb.Extensions.TestClient/bin
src/Wbtb.Extensions.TestClient/obj
src/Wbtb.Extensions.Auth.ActiveDirectory/bin
src/Wbtb.Extensions.Auth.ActiveDirectory/obj
src/Wbtb.Extensions.Data.Postgres.Tests/bin
src/Wbtb.Extensions.Data.Postgres.Tests/obj
src/Wbtb.Extensions.BuildServer.Jenkins/obj
src/Wbtb.Extensions.BuildServer.Jenkins/obj
src/Wbtb.Extensions.SourceServer.Perforce/obj
src/Wbtb.Extensions.SourceServer.Perforce/bin
src/Wbtb.Extensions.LogParsing.Unreal/obj
src/Wbtb.Extensions.LogParsing.Unreal/bin
src/Wbtb.Extensions.Messaging.Slack/obj
src/Wbtb.Extensions.Messaging.Slack/bin
src/Wbtb.Extensions.Auth.Internal/obj
src/Wbtb.Extensions.Auth.Internal/bin
src/Wbtb.Core.Web/frontend/node_modules
src/Wbtb.Core.Web/frontend/components/bootstrip
src/Wbtb.Core.Web/frontend/components/icons
**/.tmp
src/Wbtb.Core.Web/wwwroot
src/Wbtb.Extensions.BuildServer.Jenkins/bin
src/Madscience.Perforce/obj
src/Madscience.Perforce/bin
src/PerforceTest/bin
src/PerforceTest/obj
src/Wbtb.Core.CLI/bin
src/Wbtb.Core.CLI/obj
src/Wbtb.Core.Web/BuildLogs
src/Wbtb.Extensions.LogParsing.JenkinsSelfFailing/bin
src/Wbtb.Extensions.LogParsing.JenkinsSelfFailing/obj
dev-content/jenkins
src/Wbtb.Extensions.BuildServer.JenkinsSandbox/bin
src/Wbtb.Extensions.BuildServer.JenkinsSandbox/obj
src/Wbtb.Extensions.LogParsing.Cpp/bin
src/Wbtb.Extensions.LogParsing.Cpp/obj
src/Wbtb.Core.Web/frontend/package-lock.json
src/Wbtb.Extensions.SourceServer.PerforceSandbox/bin
src/Wbtb.Extensions.SourceServer.PerforceSandbox/obj
.vs
src/Wbtb.Extensions.PostProcessing.Test/bin
src/Wbtb.Extensions.PostProcessing.Test/obj
src/Wbtb.Extensions.PostProcessing.Test2/bin
src/Wbtb.Extensions.PostProcessing.Test2/obj
.env
.giturl
src/Wbtb.Extensions.Auth.ActiveDirectorySandbox/bin
src/Wbtb.Extensions.Auth.ActiveDirectorySandbox/obj
src/MessageQueue/bin
src/MessageQueue/obj
*.pyc
src/Wbtb.Extensions.PostProcessing.Test3/wbtb/log.txt
.checkout
src/Wbtb.Core.Web/currentVersion.txt
src/Wbtb.Extensions.Data.FileSystem/bin
src/Wbtb.Extensions.Data.FileSystem/obj
