/vagrant/.vagrant
/src/node_modules
/vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/src/client/lib
/src/client/app/config.js
.tmp
/src/public/scripts/scripts.js
/src/public/scripts/bundle.js
/src/public/scripts/bundle.min.js
/src/public/css/style.css
/src/public/scripts/app.js
/src/yarn-error.log
/src/out
/src/server/plugins
!/src/server/plugins/placeholder.txt
/src/server/plugins-internal/**/node_modules
/src/yarn.lock
/src/public/scripts/app.min.js
/docker/.clone
/docker/build.tar.gz
/dev/gitlab
/dev/jenkins
src/data
src-copy
src/.cache-require-paths.json
src/public/scripts/
src/server/plugins
dev/pgadmin
build/plugins
src/server/plugins-internal/postgres.json
src/server/plugins-internal/*.json
src/.plugin.conf
src/.env
src/HIDE.env
build/.clone
build/.stage
src/server/plugins-internal/jenkins/package-lock.json
src/server/plugins-internal/jenkins/package.json
src/server/plugins-internal/jenkins/package.json
src/server/plugins-internal/svn/package-lock.json
src/server/plugins-internal/postgres/package-lock.json
src/server/plugins-internal/perforce/package-lock.json
src/server/plugins-internal/internal/package-lock.json
src/server/plugins-internal/git/package-lock.json
src/server/plugins-internal/activeDirectory/package-lock.json
src/.env
src/.envreference
build/node/.stage.tar.gz
src/plugins.local.json
__testing
build/base/.stage.tar.gz
src/server/plugins-internal/**/mock
src/settings.yml
