/vagrant/.vagrant
/src/node_modules
/vagrant/ubuntu-xenial-16.04-cloudimg-console.log
/src/client/lib
/src/client/app/config.js
.tmp
/src/public/scripts/scripts.js
/src/public/scripts/bundle.js
/src/public/scripts/bundle.min.js
/src/public/css/style.css
/src/public/scripts/app.js
/src/yarn-error.log
/src/out
/src/server/plugins
!/src/server/plugins/placeholder.txt
/src/server/plugins-dev/**/node_modules
/src/yarn.lock
/src/public/scripts/app.min.js
/docker/.clone
/docker/build.tar.gz
/dev/gitlab
/dev/jenkins
src/_data/logs
src/.cache-require-paths.json
src/public/scripts/
dev/pgadmin
src/server/plugins-dev/postgres.json
src/server/plugins-dev/*.json
src/.plugin.conf
src/.env
build/.clone
build/.stage
src/server/plugins-dev/jenkins/package-lock.json
src/server/plugins-dev/jenkins/package.json
src/server/plugins-dev/jenkins/package.json
src/server/plugins-dev/svn/package-lock.json
src/server/plugins-dev/postgres/package-lock.json
src/server/plugins-dev/perforce/package-lock.json
src/server/plugins-dev/internal/package-lock.json
src/server/plugins-dev/git/package-lock.json
src/server/plugins-dev/activeDirectory/package-lock.json
src/.env
src/.envreference
build/node/.stage.tar.gz
