.horizontalMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 32px;
    white-space:nowrap;
}

.horizontalMenu-item {
    
    padding: var(--universalPadding) var(--universalPadding) var(--universalPadding) 0;
    display: inline-block; // prevent break/wrapping of menu when parent container is too small
}