{{#extend "layout"}}
    {{#content "body"}}
        <form action="/wbtb-slack/user/{{wbtbSlack.user.id}}" method="POST">
            <h1>Slack Settings for {{wbtbSlack.user.name}}</h1>
            <input name="slackId" value="{{wbtbSlack.slackId}}" placeholder="Slack id for user" type="text" /> 
            <button type="submit">Update</button>
        </form>
    {{/content}}
{{/extend}}


