{{#extend "layout"}}
    {{#content "body"}}
        <form action="/wbtb-slack/user/{{wbtbSlack.user.id}}" method="POST">
            <h1>{{wbtbSlack.user.name}} - Slack settings</h1>
            <input name="slackId" value="{{wbtbSlack.slackId}}" placeholder="Slack id" type="text" /> 
            <button class="button" type="submit">Update</button>
        </form>
    {{/content}}
{{/extend}}


