{{#extend "layout_userSettings"}}
    {{#content "settingsBody"}}
        
        <h2>Slack</h2>

        <form action="/wbtb-slack/user/{{wbtbSlack.user.id}}" method="POST">
            <input name="slackId" value="{{wbtbSlack.slackId}}" placeholder="Slack id" type="text" /> 
            <button class="button" type="submit">Update</button>
        </form>

    {{/content}}
{{/extend}}


