@import "./../typography/typography";

.card {
    position: relative;
    display: flex;  // prevent linebreak when text in one item in row overflows

}

.card-status {
    display: inline-block;
    margin-right: var(--universalPadding);
    min-width: 10px;
    background-color: var(--color-confetti);

    &.card-status--passing {
        background-color: var(--color-toxicHulk);
    }

    &.card-status--broken {
        background-color: var(--color-redRibbon);
    }
}

.card-content {
    display: inline-block;
    margin-right: var(--universalPadding);
    padding-bottom: var(--universalPaddingLesser);
    padding-top: var(--universalPaddingLesser);
    word-break: break-all;
}
