@using Wbtb.Core.Web; 
@model ViewJob

<x-content>
    @if (string.IsNullOrEmpty(Model.Image))
    {
        <h1><a href="/">Jobs</a> / @Model.Name</h1>
    }
    else 
    {
        <x-cover class="--rounded jobBanner-cover" style="background-image: url(@Model.Image)">
            <div class="jobBanner-coverMask"></div>
            <h1 class="jobBanner-coverTitle"><a href="/">Jobs</a> / @Model.Name</h1>
        </x-cover>
    }
</x-content>