x-logParseLine {
    display:block;
    padding-bottom: 8px;
}

x-logParseItem {
    display: inline-block;
    padding-right: 4px;
    font-size: 14px;
}

x-logparseitem[type=path]{

}

x-logparseitem[type=description] {
    color: cadetblue;
}
x-logparseitem[type=error_code] {

}
