{{#extend "layout"}}
    {{#content "body"}}
        <div class="build">
            <h1><a href="/build/{{build.id}}">Build Log {{build.build}}</a></h1>
            {{{preserveSpaces build.log}}}
       </div>
    {{/content}}
{{/extend}}


