{{#extend "layout"}}
    {{#content "body"}}
        <div class="login">
            <input class="login-username" name="username" type="text" placeholder="User name" />
            <input class="login-password" name="password" type="password" placeholder="Password" />
            <button class="login-process button">Login</button>
            <p class="login-error"></p>
        </div>
    {{/content}}
{{/extend}}


