{{#extend "layout"}}
    {{#content "body"}}
        <div>
            <h1>Reference Logs</h1>
            
            {{#if referenceLogs.error}}
                {{referenceLogs.error}}
            {{else}}
                <ul class="">
                    {{#each referenceLogs.logs}}
                        <li class="list-item list-item--textContent">
                            <a href="/referenceLogs/{{this}}">{{this}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}

        </div>
    {{/content}}
{{/extend}}


