{{#extend "layout"}}
    {{#content "body"}}
        <h1>Users</h1>
        <ul class="list">
            {{#each users}}
                <li class="list-item list-item--textContent">
                    <a href="/user/{{id}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    {{/content}}
{{/extend}}


