@import "../common/variables";
@import "../typography/typography";

.header {
    height: var(--layout-headerHeight);
    background-color: var(--color-crusta);
}

.header-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}
