{{#extend "layout"}}
    {{#content "body"}}
    
        <div>
            Active directory stuff
            <a href="/activedirectory/users">Manage users</a>
        </div>

    {{/content}}
{{/extend}}


