@using Wbtb.Core.Web; 
@model BuildLogParseResultsPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    Full Log for Build : @ViewHelpers.BuildLink(Model.Build)
</div>

@if (!string.IsNullOrEmpty(Model.Raw))
{
<pre class="code">
@Model.Raw   
</pre>
}

