@using Wbtb.Core.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<BuildServer> buildservers = ViewData["buildservers"] as IEnumerable<BuildServer>;
    IEnumerable<string> jobs = ViewData["jobs"] as IEnumerable<string>;
}

@if(buildservers.Any())
{ 
    <x-list>
        @foreach(BuildServer buildserver in buildservers)
        { 
            <x-list-row>
                <x-list-cell>
                    <a href="/jobs/@buildserver.Key">@buildserver.Key</a>
                </x-list-cell>
                <x-list-cell>
                    Key : @buildserver.Key
                </x-list-cell>
                <x-list-cell>
                    Name : @buildserver.Name
                </x-list-cell>
            </x-list-row>
        }
    </x-list>
}
else 
{ 
    <text>
        No build servers - add one to config file and restart.
    </text>
}


