@using Wbtb.Core.Web; 
@model BuildLogParseResultsPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("JobBanner", Model.Banner)

<h1>Build #@Model.Build.Key Log</h1>
<div>
    Build : @ViewHelpers.BuildLink(Model.Build)
</div>

@if(!Model.Build.LogFetched)
{
    <div>
        A log does not exist for this build. Either log has not been retrieved yet, or the retrieval has failed. Check logs for more info.
    </div>
}

@if (!string.IsNullOrEmpty(Model.Raw))
{
    <pre class="code">@Model.Raw</pre>
}

