@using Wbtb.Core.Web; 
@model BuildLogParseResultsPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Build #@Model.Build.Identifier Log</h1>

@if (!string.IsNullOrEmpty(Model.Raw))
{
<pre class="code">
@Model.Raw   
</pre>
}

