@using Wbtb.Core.Web; 
@model BuildProcessorLogPageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Build Processor - @Model.BuildProcessor.Id</h2>

@ViewHelpers.BuildLink(Model.Build)

<pre class="code">
@Model.Log
</pre>


