@using Wbtb.Core.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div>
    <intput id="txtName" placeholder="Name" type="text" />
    <intput id="txtPassword" placeholder="Password" type="password" />
    <button id="btnLogin">Login</button>
</div>