@using Wbtb.Core.Web; 
@model UserPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.User != null)
{
    <div>
        @Model.User.Name
    </div>
}

@if(Model.RecentPassing.Any())
{
    <h2>Recent Passing Builds</h2>
    <x-list>
    @foreach(ViewBuildInvolvement buildInvolvement in Model.RecentPassing)
    { 
        <x-list-row>
            <x-list-cell>
                @ViewHelpers.BuildLink(buildInvolvement.Build)
            </x-list-cell>
        </x-list-row>
    }
    </x-list>
}

@if (Model.RecentBreaking.Any())
{ 
    <h2>Recent Failing Builds</h2>
    <x-list>
    @foreach(ViewBuildInvolvement buildInvolvement in Model.RecentBreaking)
    { 
        <x-list-row>
            <x-list-cell>
            @ViewHelpers.BuildLink(buildInvolvement.Build)
            </x-list-cell>
        </x-list-row>
    }
    </x-list>
}


