@using Wbtb.Core.Common;
@using Wbtb.Core.Web; 
@model UsersPageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<x-list class="--dense">
    @foreach(User user in Model.Users)
    { 
        <x-list-row class="job-buildItem">
            <x-list-cell>
                User : @user.Key
            </x-list-cell>

            <x-list-cell>
            @if(string.IsNullOrEmpty(user.AuthPlugin)){
                <text>
                    No auth plugin defined for user - login not possible.
                </text>
            }
            </x-list-cell>
            <x-list-cell>
            @foreach(UserSourceIdentity id in user.SourceServerIdentities)
            { 
                <div>
                    Source server : @id.SourceServerKey
                </div>
                <div>
                    Id : @id.Name
                </div>
            }
            </x-list-cell>
        </x-list-row>
    }
</x-list>
