/* tag: 0.0.9
     hash: 527d6db
 *//* line 6, modules/base/alerts/alerts.scss */
.alert {
  position: relative;
  display: block; }

/* line 10, modules/base/alerts/alerts.scss */
x-alert {
  position: relative;
  display: block; }
/* line 8, modules/base/badge/badge.scss */
x-badge {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }

/* line 12, modules/base/badge/badge.scss */
.badge {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }
/* line 1, modules/base/base.scss */
*, ::after, ::before {
  box-sizing: border-box; }

/* line 5, modules/base/base.scss */
body {
  display: block;
  margin: 0; }
/* line 11, modules/base/button/button.scss */
.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none; }
/* line 29, modules/base/card/card.scss */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  overflow: hidden; }
  /* line 10, modules/base/card/card.scss */
  .card.--right {
    text-align: right; }
  /* line 14, modules/base/card/card.scss */
  .card.--center {
    text-align: center; }

/* line 33, modules/base/card/card.scss */
.card-stroke {
  position: absolute;
  display: block;
  height: 100%; }

/* line 37, modules/base/card/card.scss */
.card-pad {
  flex: 1 1 auto; }

/* line 41, modules/base/card/card.scss */
x-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  overflow: hidden; }
  /* line 10, modules/base/card/card.scss */
  x-card.--right {
    text-align: right; }
  /* line 14, modules/base/card/card.scss */
  x-card.--center {
    text-align: center; }

/* line 45, modules/base/card/card.scss */
x-card-stroke {
  position: absolute;
  display: block;
  height: 100%; }

/* line 49, modules/base/card/card.scss */
x-card-pad {
  flex: 1 1 auto; }
/* line 24, modules/base/circleGraph/circleGraph.scss */
.circleGraph {
  display: inline-block;
  position: relative; }
  /* line 5, modules/base/circleGraph/circleGraph.scss */
  .circleGraph canvas {
    max-width: 100%; }

/* line 28, modules/base/circleGraph/circleGraph.scss */
.circleGraph-value {
  color: #555;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin-left: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* line 32, modules/base/circleGraph/circleGraph.scss */
x-circleGraph {
  display: inline-block;
  position: relative; }
  /* line 5, modules/base/circleGraph/circleGraph.scss */
  x-circleGraph canvas {
    max-width: 100%; }

/* line 36, modules/base/circleGraph/circleGraph.scss */
x-circleGraph-value {
  color: #555;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin-left: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
/* max-width area for page-level structure. Do not give this padding, it's for scaffolding only */
/* line 10, modules/base/clamp/clamp.scss */
.clamp {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--bootstrip-layout-clampWidth); }

/* line 14, modules/base/clamp/clamp.scss */
x-clamp {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--bootstrip-layout-clampWidth); }
/* line 1, modules/base/code/code.scss */
.code {
  display: block;
  white-space: pre-wrap; }
/* line 44, modules/base/columns/column.scss */
.columns {
  display: grid;
  column-gap: var(--bootstrip-layout-gutter);
  row-gap: var(--bootstrip-layout-gutter);
  margin-bottom: var(--bootstrip-layout-gutter); }
  /* line 10, modules/base/columns/column.scss */
  .columns > * {
    display: grid; }
  /* line 15, modules/base/columns/column.scss */
  .columns.--two {
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 768px) {
      /* line 15, modules/base/columns/column.scss */
      .columns.--two {
        grid-template-columns: 1fr; } }
  /* line 23, modules/base/columns/column.scss */
  .columns.--three {
    grid-template-columns: 1fr 1fr 1fr; }
    @media only screen and (max-width: 1280px) {
      /* line 23, modules/base/columns/column.scss */
      .columns.--three {
        grid-template-columns: 1fr; } }
  /* line 31, modules/base/columns/column.scss */
  .columns.--four {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    @media only screen and (max-width: 1280px) {
      /* line 31, modules/base/columns/column.scss */
      .columns.--four {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 768px) {
      /* line 31, modules/base/columns/column.scss */
      .columns.--four {
        grid-template-columns: 1fr; } }

/* line 48, modules/base/columns/column.scss */
x-columns {
  display: grid;
  column-gap: var(--bootstrip-layout-gutter);
  row-gap: var(--bootstrip-layout-gutter);
  margin-bottom: var(--bootstrip-layout-gutter); }
  /* line 10, modules/base/columns/column.scss */
  x-columns > * {
    display: grid; }
  /* line 15, modules/base/columns/column.scss */
  x-columns.--two {
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 768px) {
      /* line 15, modules/base/columns/column.scss */
      x-columns.--two {
        grid-template-columns: 1fr; } }
  /* line 23, modules/base/columns/column.scss */
  x-columns.--three {
    grid-template-columns: 1fr 1fr 1fr; }
    @media only screen and (max-width: 1280px) {
      /* line 23, modules/base/columns/column.scss */
      x-columns.--three {
        grid-template-columns: 1fr; } }
  /* line 31, modules/base/columns/column.scss */
  x-columns.--four {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    @media only screen and (max-width: 1280px) {
      /* line 31, modules/base/columns/column.scss */
      x-columns.--four {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 768px) {
      /* line 31, modules/base/columns/column.scss */
      x-columns.--four {
        grid-template-columns: 1fr; } }
/* line 8, modules/base/content/content.scss */
.content {
  display: block; }

/* line 13, modules/base/content/content.scss */
x-content {
  display: block; }
/* line 1, modules/base/figure/figure.scss */
figure {
  margin: 0; }
/* line 23, modules/base/form/forms.scss */
label {
  display: inline-block; }

/* line 27, modules/base/form/forms.scss */
input[type=password] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  input[type=password]:disabled, input[type=password][disabled] {
    pointer-events: none; }

/* line 31, modules/base/form/forms.scss */
input[type=email] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  input[type=email]:disabled, input[type=email][disabled] {
    pointer-events: none; }

/* line 35, modules/base/form/forms.scss */
input[type=file] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  input[type=file]:disabled, input[type=file][disabled] {
    pointer-events: none; }
  /* line 38, modules/base/form/forms.scss */
  input[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer; }

/* line 43, modules/base/form/forms.scss */
input[list] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  input[list]:disabled, input[list][disabled] {
    pointer-events: none; }

/* line 47, modules/base/form/forms.scss */
input[type=text] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  input[type=text]:disabled, input[type=text][disabled] {
    pointer-events: none; }

/* line 51, modules/base/form/forms.scss */
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  textarea:disabled, textarea[disabled] {
    pointer-events: none; }
  /* line 9, modules/base/form/forms.scss */
  textarea:disabled, textarea[disabled] {
    pointer-events: none; }

/* line 56, modules/base/form/forms.scss */
input[type=checkbox] {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;
  color-adjust: exact; }

/* line 71, modules/base/form/forms.scss */
select {
  display: block;
  appearance: none; }
  /* line 9, modules/base/form/forms.scss */
  select:disabled, select[disabled] {
    pointer-events: none; }

/* line 77, modules/base/form/forms.scss */
.radiolist {
  display: block; }

/* line 81, modules/base/form/forms.scss */
x-radiolist {
  display: block; }
/* line 60, modules/base/header/header.scss */
.header {
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  /* line 11, modules/base/header/header.scss */
  .header a {
    text-decoration: none;
    color: inherit; }
  /* line 16, modules/base/header/header.scss */
  .header.--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  /* line 25, modules/base/header/header.scss */
  .header x-clamp, .header .clamp {
    display: flex; }

/* line 64, modules/base/header/header.scss */
.header-logoContainer {
  width: 15.63rem;
  position: static;
  z-index: 5;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 8rem;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  height: 4rem; }

/* line 68, modules/base/header/header.scss */
.header-content {
  position: static;
  z-index: 5;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  align-items: center; }

/* line 72, modules/base/header/header.scss */
.header-contentItem {
  margin-left: 3rem;
  position: relative; }

/* line 76, modules/base/header/header.scss */
x-header {
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  /* line 11, modules/base/header/header.scss */
  x-header a {
    text-decoration: none;
    color: inherit; }
  /* line 16, modules/base/header/header.scss */
  x-header.--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  /* line 25, modules/base/header/header.scss */
  x-header x-clamp, x-header .clamp {
    display: flex; }

/* line 80, modules/base/header/header.scss */
x-header-logoContainer {
  width: 15.63rem;
  position: static;
  z-index: 5;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 8rem;
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  height: 4rem; }

/* line 84, modules/base/header/header.scss */
x-header-content {
  position: static;
  z-index: 5;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  align-items: center; }

/* line 88, modules/base/header/header.scss */
x-header-contentItem {
  margin-left: 3rem;
  position: relative; }
/* line 2, modules/base/icon.scss */
.icon {
  line-height: unset; }
/* line 24, modules/base/iconStrip/iconStrip.scss */
.iconStrip {
  display: grid; }

/* line 28, modules/base/iconStrip/iconStrip.scss */
.iconStrip-text {
  display: block; }

/* line 32, modules/base/iconStrip/iconStrip.scss */
.iconStrip-item {
  text-align: center; }
  /* line 8, modules/base/iconStrip/iconStrip.scss */
  .iconStrip-item a {
    display: block;
    object-fit: cover;
    height: 100%; }
  /* line 14, modules/base/iconStrip/iconStrip.scss */
  .iconStrip-item.--active {
    cursor: default;
    pointer-events: none; }

/* line 36, modules/base/iconStrip/iconStrip.scss */
x-iconStrip {
  display: grid; }

/* line 40, modules/base/iconStrip/iconStrip.scss */
x-iconStrip-text {
  display: block; }

/* line 44, modules/base/iconStrip/iconStrip.scss */
x-iconStrip-item {
  text-align: center; }
  /* line 8, modules/base/iconStrip/iconStrip.scss */
  x-iconStrip-item a {
    display: block;
    object-fit: cover;
    height: 100%; }
  /* line 14, modules/base/iconStrip/iconStrip.scss */
  x-iconStrip-item.--active {
    cursor: default;
    pointer-events: none; }
/* line 1, modules/base/image/image.scss */
.image {
  max-width: 100%;
  height: auto; }
  /* line 5, modules/base/image/image.scss */
  .image.--full {
    width: 100%; }
  /* line 9, modules/base/image/image.scss */
  .image.--rounded {
    user-select: none;
    text-anchor: middle; }
/* line 29, modules/base/card/card.scss */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  overflow: hidden; }
  /* line 10, modules/base/card/card.scss */
  .card.--right {
    text-align: right; }
  /* line 14, modules/base/card/card.scss */
  .card.--center {
    text-align: center; }

/* line 33, modules/base/card/card.scss */
.card-stroke {
  position: absolute;
  display: block;
  height: 100%; }

/* line 37, modules/base/card/card.scss */
.card-pad {
  flex: 1 1 auto; }

/* line 41, modules/base/card/card.scss */
x-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  overflow: hidden; }
  /* line 10, modules/base/card/card.scss */
  x-card.--right {
    text-align: right; }
  /* line 14, modules/base/card/card.scss */
  x-card.--center {
    text-align: center; }

/* line 45, modules/base/card/card.scss */
x-card-stroke {
  position: absolute;
  display: block;
  height: 100%; }

/* line 49, modules/base/card/card.scss */
x-card-pad {
  flex: 1 1 auto; }

/* line 26, modules/base/list/list.scss */
.list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  overflow: hidden;
  display: grid;
  overflow-x: auto;
  list-style: none;
  padding-left: 0; }
  /* line 10, modules/base/card/card.scss */
  .list.--right {
    text-align: right; }
  /* line 14, modules/base/card/card.scss */
  .list.--center {
    text-align: center; }

/* line 30, modules/base/list/list.scss */
.list-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

/* line 34, modules/base/list/list.scss */
.list-cell {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative; }

/* line 38, modules/base/list/list.scss */
x-list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  overflow: hidden;
  display: grid;
  overflow-x: auto;
  list-style: none;
  padding-left: 0; }
  /* line 10, modules/base/card/card.scss */
  x-list.--right {
    text-align: right; }
  /* line 14, modules/base/card/card.scss */
  x-list.--center {
    text-align: center; }

/* line 42, modules/base/list/list.scss */
x-list-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

/* line 46, modules/base/list/list.scss */
x-list-cell {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative; }
/* line 17, modules/base/pager/pager.scss */
.pager {
  display: flex;
  padding-left: 0;
  list-style: none; }

/* line 21, modules/base/pager/pager.scss */
.pager-anchor {
  position: relative;
  display: block;
  text-decoration: none; }
  /* line 12, modules/base/pager/pager.scss */
  .pager-anchor.--active {
    z-index: 3; }
/* line 7, modules/base/section/section.scss */
section {
  padding: var(--bootstrip-layout-gutter);
  display: block; }
/*
Side menu is meant to be implemented as <ul> or <ol> element, so has only a class export
*/
/* line 25, modules/base/sideMenu/sideMenu.scss */
.sideMenu {
  padding-left: 0;
  list-style: none; }

/* line 29, modules/base/sideMenu/sideMenu.scss */
.sideMenu-item {
  position: relative; }

/* line 33, modules/base/sideMenu/sideMenu.scss */
.sideMenu-anchor {
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden; }

/* line 37, modules/base/sideMenu/sideMenu.scss */
.sideMenu-iconWrapper {
  display: flex; }
/* line 28, modules/base/table/table.scss */
.table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  vertical-align: top; }
  /* line 13, modules/base/table/table.scss */
  .table > thead {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    vertical-align: bottom; }
  /* line 18, modules/base/table/table.scss */
  .table th {
    text-align: inherit;
    text-align: -webkit-match-parent; }
  /* line 23, modules/base/table/table.scss */
  .table > :not(caption) > * > * {
    border-color: inherit;
    border-style: solid;
    border-width: 0; }
/* line 21, modules/base/typography/typography.scss */
.header1, h1 {
  font-family: var(--bootstrip-font-headerFace);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 3.5rem;
  font-size: 2.5rem; }

/* line 27, modules/base/typography/typography.scss */
.header2, h2 {
  font-family: var(--bootstrip-font-headerFace);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 3rem;
  font-size: 2rem; }

/* line 33, modules/base/typography/typography.scss */
.header3, h3 {
  font-family: var(--bootstrip-font-headerFace);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 2rem;
  font-size: 1.75rem; }

/* line 39, modules/base/typography/typography.scss */
.header4, h4 {
  font-family: var(--bootstrip-font-headerFace);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem; }

/* line 44, modules/base/typography/typography.scss */
.header5, h5 {
  font-family: var(--bootstrip-font-headerFace);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem; }

/* line 49, modules/base/typography/typography.scss */
.header6, h6 {
  font-family: var(--bootstrip-font-headerFace);
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1rem; }

/* line 54, modules/base/typography/typography.scss */
.display1 {
  font-family: var(--bootstrip-font-headerFace);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 3.5rem;
  font-size: 5rem; }

/* line 60, modules/base/typography/typography.scss */
.display2 {
  font-family: var(--bootstrip-font-headerFace);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 3rem;
  font-size: 4.5rem; }

/* line 66, modules/base/typography/typography.scss */
.display3 {
  font-family: var(--bootstrip-font-headerFace);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 2.5rem;
  font-size: 4rem; }

/* line 72, modules/base/typography/typography.scss */
.display4 {
  font-family: var(--bootstrip-font-headerFace);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 3.5rem; }

/* line 77, modules/base/typography/typography.scss */
.display5 {
  font-family: var(--bootstrip-font-headerFace);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 3rem; }

/* line 82, modules/base/typography/typography.scss */
.display6 {
  font-family: var(--bootstrip-font-headerFace);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2.5rem; }
/**
 Utility class do one thing only. Their name is always a clear indication of their function.
*/
/* line 4, modules/base/util/util.scss */
.uppercase {
  text-transform: uppercase; }

/*
Causes all children to align horizontally
*/
/* line 11, modules/base/util/util.scss */
.flowHorizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%; }
  /* line 17, modules/base/util/util.scss */
  .flowHorizontal > * {
    flex-grow: 1; }

/**
 * Aligns an element vertically centered
 */
/* line 25, modules/base/util/util.scss */
.alignVerticallyCentered {
  top: 50%;
  transform: translateY(-50%); }
