{{#extend "layout"}}
    {{#content "body"}}

        <div class="userSettings">
            <h1><a href="/settings/user/{{user.id}}">{{user.name}} Settings</a></h1>

            {{{block "settingsBody"}}}

        </div>

    {{/content}}
{{/extend}}


