<div class="layout-topMenu">
    <ul class="horizontalMenu">
        <li class="horizontalMenu-item">
            <a href="/users" title="Users">
                <i class="icon icon-users"></i>
            </a> 
        </li>
        <li class="horizontalMenu-item">
            <a href="/contactLog" title="Contact log">
                <i class="icon icon-log"></i>
            </a> 
        </li>
        <li class="horizontalMenu-item">
            <a href="/referenceLogs" title="Reference logs">
                <i class="icon icon-log"></i>
            </a> 
        </li>        
        {{#if session.isAdmin}}
            <li class="horizontalMenu-item">
                <a href="/settings" title="Profile">
                    <i class="icon icon-user"></i>
                </a> 
            </li>
            <li class="horizontalMenu-item">
                <a href="/settings/system" title="System">
                    <i class="icon icon-gear"></i>
                </a>
            </li>
            <li class="horizontalMenu-item">
                <a href="/log" title="Log">
                    <i class="icon icon-log"></i>
                </a> 
            </li>
        {{/if}}
    </ul>

</div>
