<div class="session">
    {{#if session.isLoggedIn}}
        Hi there <a class="session-username" href="/settings">{{session.name}}</a>
        <a class="session-logout" href="javascript:void(0)">Logout</a>
    {{else}}
        <a class="session-login" href="/login">Login</a>
        <a class="session-join" href="/join">Join</a>
    {{/if}}
</div>