<div class="session">
    {{#if session.isLoggedIn}}
        Hi there <a class="session-username" href="/settings">{{session.name}}</a>
        <a class="session-logout" href="javascript:void(0)">
            <img class="icon" src="/images/logout128_white.png" />
        </a>
    {{else}}
        <a class="session-login" href="/login">
            <img class="icon" src="/images/login128_white.png" />
        </a>
    {{/if}}
</div>