<div class="session">
    {{#if session.isLoggedIn}}
        Hi there <a href="/settings">{{session.name}}</a>
        <a class="session-end" href="javascript:void(0)">Logout</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/join">Join</a>
    {{/if}}
</div>