.jobBanner-cover {
    position: relative;
    height: 148px;
}

.jobBanner-coverMask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(3deg, rgba(0,0,0,.5) 0%, rgba(255,255,255,0) 100%);
}

.jobBanner-coverTitle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: var(--bootstrip-layout-gutter);
    color: var(--bootstrip-color-athensGray);
}