.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    background-color: var(--color-cloudburst);
    color: var(--color-lynch);
    padding: var(--universalPadding);
}

.list-item:nth-child( odd ) {

}

.list-item.list-item--error {
    color: red;
}