.list-item {
    background-color: var(--color-indigo);
    color: var(--color-alabaster);

    &.list-item--textContent {
        padding: var(--universalPaddingLesser)
    }
}

.list-item:not(:last-child) {
    /* acts as bottom border by allowing background color to show through*/
    margin-bottom: 2px;
}

