@import "./../typography/typography";
@import "./mixins";

:root {
    --color-crusta: #FE752F;
    --color-coral: #FE894D;
    --color-toxicHulk: #14ff14;
    --color-cyan: #2cffe1;
    --color-confetti:#E4E65C;
    --color-royalPurple: #7B40A5;
    --color-charm: #d16c81;
    --color-redRibbon: #EB0A26;

    --color-indigo: rgba(32,37,77,1);
    --color-malibu: rgba(57,65,114,1);
    --color-lynch: #666c90;
    --color-alabaster: #f7f7f7;
    --color-white: #fff;
    --color-gray: #818181;
    --color-mineshaft: #242424;
    --color-black :#000;
    --universalPadding: 32px;
    --universalPaddingLesser: 8px;
    --layout-maxWidth: 1400px;
    --layout-inputElementHeight: 36px;
    --layout-sideMenu-width: 154px;
    --layout-header-height: 4rem;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    //background-color: var(--bootstrip-color-athensGray);
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

a {
    color: var(--color-crusta);
    &:hover{
        color: var(--color-coral);
        transition: var(--bootstrip-transition-standard);
    }
}

aside {
    background-color: var(--bootstrip-color-mirage);
    max-height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: var(--layout-sideMenu-width);
}

header {
    height: var(--layout-header-height);
}

main {
    margin-left: var(--layout-sideMenu-width);
    padding: var(--bootstrip-layout-gutter);
    height: 100%;
}

a {

}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}


input[type=text], input[type=password], select {
    @include common-input;
}