.jobsList {
    x-list-row {
        align-content: inherit;
    }
}

.jobsList-statusFlagContainer {
    flex-grow:unset;
}

.jobsList-statusFlag {
    width: var(--bootstrip-card-strokeWidth);
    flex-grow: inherit;
    flex-basis: inherit;
    margin-right: 32px;
    position: absolute;
    height: 9999px; // overset, covers varieabl height of rows, overflow hdden of row prevents overshoot
    width: 10px;
    left: -8px;
    top: -4px;

    &.jobsList-statusFlag--broken {
    }

    &.jobsList-statusFlag--passing {
        background-color: var(--bootstrip-color-genoa);
    }

    &.jobsList-statusFlag--broken {
        background-color: var(--bootstrip-color-crownOfThorns);
    }

    &.jobsList-statusFlag--building {
        background-color: var(--bootstrip-color-corn);
    }
}

.jobsList-buildTitle {
    flex-grow: inherit;
    flex-basis: inherit;
    width: 72px;
}

.jobsList-status {
    min-width: 300px;
    flex-grow: 0;
}

