@import "./../typography/typography";

.job-buildTitle {
    @include typography-title2;
}

.job-buildsList {
    .card-content {
        width: 50%;
    }
}

.job-buildItem{
    &.job-buildItem--broken {
        background-color: var(--color-charm);
        color: var(--color-white);
    }
}