:root {
    --color-royalPurple: #7B40A5;
    --color-alabaster: #f7f7f7;
    --color-white: #fff;
    --universalPadding: 8px;
    --layout-maxWidth: 1400px;
}

@mixin typography-title {
    font-weight: bold;
    font-size: 24px;
}