@import "./../typography/typography";

.card {
    position: relative;
}

.card-status {
    display: inline-block;
    margin-right: var(--universalPadding);
    width: 10px;
    height: 68px;
    background-color: var(--color-crusta);
  

    &.card-status--passing {
        background-color: var(--color-toxicHulk);
    }

    &.card-status--broken {
        background-color: var(--color-redRibbon);
    }
}

.card-content {
    display: inline-block;
}
